<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464880165872-12mni34h6gtgrfjn4nb16vcvlc31qt2b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464880165872-12mni34h6gtgrfjn4nb16vcvlc31qt2b</string>
	<key>API_KEY</key>
	<string>AIzaSyCCtBBW5V7NjS-fEZo8dopBeokS6DrPDcA</string>
	<key>GCM_SENDER_ID</key>
	<string>464880165872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.todaktodot.prod</string>
	<key>PROJECT_ID</key>
	<string>todaktodotprod</string>
	<key>STORAGE_BUCKET</key>
	<string>todaktodotprod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464880165872:ios:4ed94f1e8a90981f8b7335</string>
</dict>
</plist>